<p>This document was last updated on 6 May 2022.</p>

<table class="privacy-policy-table">
  <tbody>
    <tr>
      <td>Name:</td>
      <td>The Vintage Bar ApS</td>
    </tr>
    <tr>
      <td>CVR-no:</td>
      <td>39106744</td>
    </tr>
    <tr>
      <td>Address:</td>
      <td>Hoejbro Plads, 21. 2, 1200 Copenhagen K, Denmark</td>
    </tr>
    <tr>
      <td>Contact:</td>
      <td><a href="mailto:legal@thevintagebar.com" class="link primary">legal@thevintagebar.com</a></td>
    </tr>
  </tbody>
</table>
