<div [hidden]="isHidden" class="tvb-RefinementList">
  <!-- Title -->
  <div
    *ngIf="platform$ | async as platfrm"
    class="tvb-RefinementList--Header"
    role="tab"
    [ngClass]="{ active: !isCollapsed }"
  >
    <h4 class="title">
      <a
        (click)="toggleCollapse()"
        class="collapseBtn"
        role="button"
        data-toggle="collapse"
        data-target="#{{ filter.name }}"
        [attr.aria-expanded]="isCollapsed"
      >
        <span>{{ filter.label | translate }}</span>
        <svg
          *ngIf="platfrm === 'Desktop'"
          enable-background="new 0 0 100 100"
          id="Layer_1"
          version="1.1"
          viewBox="0 0 100 100"
          xml:space="preserve"
          xmlns="https://www.w3.org/2000/svg"
          xmlns:xlink="https://www.w3.org/1999/xlink"
        >
          <polygon
            fill="#010101"
            points="30.4,20.6 66.7,49.1 30.4,77.6 31.6,79.1 69.9,49.1 31.6,19.1 30.4,20.6 "
          ></polygon>
        </svg>

        <svg
          *ngIf="platfrm === 'Mobile'"
          enable-background="new 0 0 100 100"
          id="Layer_1"
          version="1.1"
          viewBox="0 0 100 100"
          xml:space="preserve"
          xmlns="https://www.w3.org/2000/svg"
          xmlns:xlink="https://www.w3.org/1999/xlink"
          class="mobile-arrow"
          [class.active]="!isCollapsed"
        >
          <polygon
            fill="#010101"
            points="30.4,20.6 66.7,49.1 30.4,77.6 31.6,79.1 69.9,49.1 31.6,19.1 30.4,20.6 "
          ></polygon>
        </svg>
      </a>
    </h4>
  </div>
  <div *ngIf="platform$ | async as platfrm">
    <div
      [ngClass]="
        platfrm === 'Mobile' && !isCollapsed
          ? 'tvb-RefinementList--ListContainer collapsed'
          : 'tvb-RefinementList--ListContainer'
      "
      id="{{ filter.name }}"
      [class.collapsed]="isCollapsed"
    >
      <!--numeric-menu Removed for now until we fix it is issues -->
      <ng-container
        *ngIf="
          (platfrm === 'Mobile' && isCollapsed) ||
          (platfrm === 'Desktop' && !isCollapsed) ||
          discountFilter
        "
      >
        <tvb-numeric-menu
          [attribute]="filter.attribute"
          [items]="filter.items"
          [autoHideContainer]="true"
        ></tvb-numeric-menu>
      </ng-container>
    </div>
  </div>
</div>
