<p class="text-underline">{{ 'help_and_support.returns.pro_sellers.p1' | translate }}</p>

<p>{{ 'help_and_support.returns.pro_sellers.p2' | translate }}</p>

<p>
  <span>{{ 'help_and_support.returns.pro_sellers.p3_1' | translate }}</span>
  <a routerLink="/account/my-orders" class="link primary" target="_blank">
    {{ 'help_and_support.returns.pro_sellers.p3_2' | translate }}
  </a>
  <span>{{ 'help_and_support.returns.pro_sellers.p3_3' | translate }}</span>
</p>

<p>{{ 'help_and_support.returns.pro_sellers.p4' | translate }}</p>

<p class="text-underline">{{ 'help_and_support.returns.pro_sellers.p5' | translate }}</p>

<p>{{ 'help_and_support.returns.pro_sellers.p6' | translate }}</p>

<p>{{ 'help_and_support.returns.pro_sellers.p7' | translate }}</p>

<p>
  {{ 'help_and_support.returns.pro_sellers.p8_1' | translate }}
  <br />
  {{ 'help_and_support.returns.pro_sellers.p8_2' | translate }}
  <br />
  {{ 'help_and_support.returns.pro_sellers.p8_3' | translate }}
  <br />
  {{ 'help_and_support.returns.pro_sellers.p8_4' | translate }}
</p>

<p>{{ 'help_and_support.returns.pro_sellers.p9' | translate }}</p>

<p>{{ 'help_and_support.returns.pro_sellers.p10' | translate }}</p>

<p>{{ 'help_and_support.returns.pro_sellers.p11' | translate }}</p>
<ol>
  <li>{{ 'help_and_support.returns.pro_sellers.li1' | translate }}</li>
  <li>{{ 'help_and_support.returns.pro_sellers.li2' | translate }}</li>
  <li>{{ 'help_and_support.returns.pro_sellers.li3' | translate }}</li>
  <li>{{ 'help_and_support.returns.pro_sellers.li4' | translate }}</li>
</ol>

<p>{{ 'help_and_support.returns.pro_sellers.p12' | translate }}</p>
<p>{{ 'help_and_support.returns.pro_sellers.p13' | translate }}</p>
