.desktop {
  display: flex;
  width: 100%;
}

.mobile {
  display: none;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  .search-box {
    display: inline-flex;
    width: 300px;

    .search-field {
      padding-left: 20px;
      border-bottom: 1px solid var(--steps-gray);
    }

    .search-icon {
      color: var(--main-color-gray-3);
      margin-top: 8px;
      position: relative;
      left: 11px;
    }
  }
}

.section-tab {
  font-family: 'Manrope-Medium';
  font-size: 14px;
  width: 100%;
  display: flex;
  margin: -13px 0 42px 0;

  .item-tab {
    color: var(--main-color-gray-3);
    border-bottom: 1px solid currentColor;
    width: 50%;
    text-align: center;
    padding-bottom: 6px;
    cursor: pointer;
    transition: all 0.2s ease-out;

    &.active {
      color: var(--main-color-black);
    }

    &:hover:not(.active) {
      color: #555;
    }
  }
}

.bottom-bar {
  margin-top: 20px;

  .box-pagination-footer {
    margin-left: auto;
  }
}

.offer-header {
  border-bottom: 2px solid var(--main-color-dark);
  padding: 5px 0;

  .row {
    padding: 0;
    margin: 0;
  }

  .header-cell {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 10px 0 0;
    letter-spacing: 1px;
    font-size: 0.7rem;
    text-transform: uppercase;

    &.right-aligned {
      justify-content: flex-end;
    }
  }

  div {
    font-weight: 600;
    text-align: left;
  }
}

.card-item {
  border-bottom: 2px solid var(--steps-gray);

  .product-cell {
    margin: 10px 0 10px 0;
    padding-left: 0;

    .product-img-link {
      img {
        width: 100%;
      }
    }
  }

  a.product-name {
    color: var(--main-color-black);
    text-decoration: underline;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &.row:first-of-type {
    border-top: 2px solid red;
  }

  &:nth-child(1) {
    border-top: 2px solid var(--form-error);
  }

  &:last-of-type {
    border-bottom: 0;
  }

  .offer-cell {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 10px 10px 0;
    word-break: break-word;

    p {
      margin-top: 3px;
      margin-bottom: 3px;

      &.buyer-name {
        text-transform: lowercase;

        &:first-letter {
          text-transform: capitalize;
        }
      }
    }

    &.offer-date {
      padding-right: 10px;

      &.sold-out {
        color: var(--sale);
      }
    }

    &.offer-status {
      word-break: keep-all;

      &.sold-out {
        text-decoration: line-through;
      }
    }

    &.price-format {
      align-items: end;
      text-align: right;
    }

    .for-you-price {
      color: var(--main-color-gray-3);
    }
  }
}

.card-item:first-of-type {
  border-top: 0;
}

// Up to SmartPhones, Mobile devices
@media (max-width: 767px) {
  .offer-header,
  .desktop {
    display: none;
  }

  .mobile {
    display: flex;
  }

  .offer-header {
  }

  .card-item {
    text-align: left;
    padding: 30px 0;
    border-top: 2px solid var(--steps-gray);
    border-bottom: none;

    .product-cell {
      margin: 0;
      padding: 0 10px;

      .product-img-link {
        img {
          width: 100%;
        }
      }
    }

    &:last-of-type {
      border-bottom: 2px solid var(--form-error);
    }

    .card-description {
      display: flex;
      flex-direction: column;
      padding: 0 10px;

      .product-name {
        font-size: 18px;
        font-family: 'Cormorant';
        text-transform: uppercase;
      }

      .offer-details {
        font-family: 'FuturaBT-Light';
        font-size: 15px;
        margin-bottom: 5px;

        &.for-you-price {
          color: var(--sub-footer-copyright-color);
        }

        &.sold-out {
          color: var(--sale);
        }
        &.sold-out-through {
          text-decoration: line-through;
        }
      }

      .offer-history-btn {
        text-decoration: underline;
      }
    }
  }

  .buttons-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    padding: 0 0 10px 0;

    button {
      margin: 5px 0;
    }
  }

  .top-bar,
  .bottom-bar {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    flex-direction: row;
    align-items: center;

    .search-box {
      display: inline-flex;
      width: 100%;
      margin: 0 20px;
      border-bottom: 1px solid var(--steps-gray);

      i.search-icon {
        position: relative;
        top: 2px;
        margin-right: 10px;
      }

      input.search-field {
        padding-left: 10px;
        border: none;
      }
    }

    div.box-pagination-header,
    div.box-pagination-footer {
      margin-right: 20px;
      margin-left: auto;
    }
  }

  ::ng-deep ul.ngx-pagination {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: right;
    padding: 0;
  }
}
