<div class="register-container">
  <div>
    <div class="d-flex submit-button-container" *ngIf="slctOption1">
      <div class="btn primary community-button" (click)="showRegisteration('register')">JOIN OUR COMMUNITY</div>
    </div>

    <div class="d-flex submit-button-container" *ngIf="slctOption2">
      <div class="btn primary guest-button" *ngIf="slctOption1" (click)="showRegisteration('guest')">
        Continue As Guest
      </div>
      <div class="btn primary community-button" *ngIf="showRegister" (click)="showRegisteration('guest')">
        Continue As Guest
      </div>
    </div>
  </div>
  <div class="title">
    <h1 class="title-heading">{{ title }}</h1>
  </div>
  <div class="register-form private-seller-register">
    <div class="register-section" *ngIf="showRegister">
      <form id="registerForm" [formGroup]="registerForm">
        <div class="form-group">
          <input type="text" placeholder="Username *" class="primary" formControlName="username" />
          <div
            *ngIf="registerForm.controls.username.invalid && registerForm.controls.username.touched"
            class="invalid-message"
          >
            Username is required
          </div>
        </div>
        <div class="form-group">
          <input type="email" placeholder="Email *" class="primary" formControlName="email" />
          <div
            *ngIf="registerForm.controls.email.invalid && registerForm.controls.email.touched"
            class="invalid-message"
          >
            A valid e-mail is required
          </div>
        </div>
        <div class="form-group">
          <input type="password" placeholder="Password *" class="primary" formControlName="password" />
          <div
            *ngIf="registerForm.controls.password.invalid && registerForm.controls.password.touched"
            class="invalid-message"
          >
            Password is required
          </div>
        </div>
        <re-captcha formControlName="recaptchaReactive" siteKey="{{ recaptcha_site_key }}"></re-captcha>
        <div class="remember-me">
          <mat-checkbox formControlName="rememberMe" class="remember-label">
            I accept the Terms & Conditions.
            <a class="terms-and-condition" routerLink="/terms-and-conditions" target="_blank">Read more</a>
          </mat-checkbox>
          <div
            *ngIf="registerForm.controls.rememberMe.invalid && registerForm.controls.rememberMe.touched"
            class="invalid-message"
          >
            Terms and Conditions is required
          </div>
          <div *ngIf="rememberMeEror == true" class="invalid-message">Terms and Conditions is required</div>
        </div>
      </form>
      <div class="alert error-message" *ngIf="errorMessage" [innerHTML]="errorMessage"></div>
      <div class="alert alert-success text-center" *ngIf="successMessage">
        {{ successMessage }}
      </div>
      <div class="d-flex submit-button-container">
        <button class="btn primary" (click)="onProcessRegister()" [disabled]="registerForm.invalid">
          JOIN TVB COMMUNITY
        </button>
      </div>
    </div>
    <div class="guest-section" *ngIf="showGuest">
      <app-guest-login></app-guest-login>
    </div>
    <p class="member-cls">
      Already a member?
      <a (click)="loginEventClick(false)">{{ 'Log in' | translate }}</a>
    </p>

    <div class="d-flex or-container justify-content-center">or</div>
    <div class="social-buttons private-seller-social"></div>
    <div class="btn-inline">
      <button class="btn btn-secondary half" (click)="onFbLogin()">
        <svg id="dpdhl_icons" xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 48 48">
          <path
            d="M19.3667,44H26.73V25.78H32.872l.9194-7.1319H26.73V14.105c0-2.0586.5721-3.4644,3.5265-3.4644L34,10.64V4.28A50.2336,50.2336,0,0,0,28.5122,4c-5.4278,0-9.1455,3.313-9.1455,9.3989v5.2495H13.248V25.78h6.1187Z"
          ></path>
        </svg>
        <span>Sign in with Facebook</span>
      </button>
      <button class="btn btn-secondary half" (click)="onGmailLogin()">
        <svg
          id="dpdhl_icons"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px"
          y="0px"
          viewBox="0 0 210 210"
          style="enable-background: new 0 0 210 210"
          xml:space="preserve"
        >
          <path
            d="M0,105C0,47.103,47.103,0,105,0c23.383,0,45.515,7.523,64.004,21.756l-24.4,31.696C133.172,44.652,119.477,40,105,40 c-35.841,0-65,29.159-65,65s29.159,65,65,65c28.867,0,53.398-18.913,61.852-45H105V85h105v20c0,57.897-47.103,105-105,105S0,162.897,0,105z"
          ></path>
        </svg>
        <span>Sign in with Google</span>
      </button>
    </div>
  </div>
</div>
