<p>{{ 'help_and_support.community_care.p1' | translate }}</p>

<p>{{ 'help_and_support.community_care.p2' | translate }}</p>

<ul>
  <li>{{ 'help_and_support.community_care.li1' | translate }}</li>
  <li>{{ 'help_and_support.community_care.li2' | translate }}</li>
  <li>{{ 'help_and_support.community_care.li3' | translate }}</li>
</ul>

<p>{{ 'help_and_support.community_care.p3' | translate }}</p>
<br />

<p>{{ 'help_and_support.community_care.p4' | translate }}</p>
<p>{{ 'help_and_support.community_care.p5' | translate }}</p>
<p>{{ 'help_and_support.community_care.p6' | translate }}</p>
<p>
  {{ 'help_and_support.community_care.p7_1' | translate }}
  <a routerLink="/careers" class="link primary" target="_blank">
    {{ 'help_and_support.community_care.p7_2' | translate }}
  </a>
  {{ 'help_and_support.community_care.p7_3' | translate }}
</p>
