<div class="container">
  <form (ngSubmit)="onSubmit()" id="mainForm" [formGroup]="mainForm">
    <div class="text" (scroll)="onScroll($event)">
      <div class="main-title">TERMS AND CONDITIONS APPLICABLE TO PROFESSIONAL SELLERS OF THEVINTAGEBAR.COM</div>
      <div class="paragraph">
        <b>General Terms and Conditions for Contractual Partners</b>
        <br />
        General terms and conditions for contractual partners of The Vintage Bar ApS, Copenhagen, August 2022 Edition.
      </div>
      <div class="paragraph">
        <b>§ 1 General Terms and Conditions for Contract with Contractual Partners</b>
      </div>
      <div class="paragraph">
        <b>A. Scope</b>
        <div class="list">
          <br />
          1. The General Terms and Conditions for Contractual Partners of The Vintage Bar ApS (hereinafter “GTCCP“)
          apply exclusively; any terms and conditions of the Contracting Partner's deviating from these GTCCP will not
          be recognized unless TVB explicitly agrees in writing that they shall apply.
          <br />
          2. References to third-party general terms and conditions on invoices, delivery notes, order confirmations, or
          offers shall not have any legal effect.
          <br />
          3. TVB is an affiliate of Miinto Group who runs multiple marketplaces. According to the terms set out herein,
          TVB may publish the products of the Contractual Partner on any marketplaces run by the Miinto Group to
          generate a number of certified sales.
        </div>
      </div>
      <div class="paragraph">
        <b>B. Non-Disclosure, Transferability, Applicable Law, Court of Jurisdiction</b>
        <div class="list">
          <br />
          1. All commercial and technical details that are not publicly available but become known to the Contracting
          Partner are to be treated by the Contracting Partner as trade secrets.
          <br />
          2. Transfer of any rights and/or obligations of the Contracting Party is subject to prior written approval by
          TVB. Any rights of TVB shall be deemed granted in favor of TVB and its affiliated companies. Transfer of any
          rights and obligations of TVB to affiliated group companies are permitted without further approval.
          <br />
          3. Danish law, excluding the UN Convention on Contracts for the International Sale of Goods (CISG), shall
          apply to all legal relationships between the Contracting Partner and TVB, even if the Contracting Partner's
          place of business or branch office is located abroad, however, TVB is also authorized to take legal action
          against the Contracting Partner at the partner‘s place of jurisdiction as well.
          <br />
          4. The Contracting Partner must comply with TVB's privacy policy and the principles of the European General
          Data Protection Regulation (GDPR). All parties remain independent data controllers, unless otherwise specified
          in other agreements. The Contracting Partner may not under any circumstance use the customers' personal data
          for marketing purposes, without the customer's consent. The latest version of TVB's privacy policy can be
          found at www.thevintagebar.com.
        </div>
      </div>
      <div class="paragraph">
        <b>§ 2 Terms and Conditions for Contracting Partner</b>
      </div>
      <div class="paragraph">
        <b>A. Scope</b>
        A. Shop Setup, Operation, and Contractual Relationships
        <div class="list">
          <br />
          1. An internet-based shop will be set up by TVB for the Contracting Partner on TVB's marketplace. TVB may
          publish the products of the Contractual Partner on any marketplaces run by TVB and its affiliates to generate
          a number of certified sales.
          <br />
          2. A purchase contract for the products offered by the Contracting Partner via its partnership with TVB is
          always concluded directly between the visitor to the website as the buyer and the Contracting Partner as the
          seller (B2C transaction). TVB and its affiliates merely provides the technical platform for this and does not
          become a Contracting Partner to the purchase contracts. As the seller in a B2C transaction, the Contracting
          Partner must include invoice (to include applicable sales tax and applicable VAT) and delivery note compliant
          with applicable law with each product shipped towards the customer. TVB cannot be held liable for any
          applicable VAT which has not been charged by the Contracting Partner in accordance with applicable law, and
          will be entitled to reimbursement from the Contracting Partner for any VAT, sales tax or import duties paid by
          TVB in relation to any products sold by the Contracting Partner via the marketplaces administered by TVB and
          its affiliates.
          <br />
          3. The Contracting Partner may not use any mechanisms, software, or other scripts in connection with the use
          of the websites that could disrupt the functions of the websites.
          <br />
          4. The Contracting Partner may not take any actions that could result in an unreasonable or excessive burden
          on the infrastructure of the websites.
          <br />
          5. The Contracting Partner may not block, overwrite, modify, or otherwise disruptively interfere with any
          content generated by TVB.
        </div>
      </div>

      <div class="paragraph">
        <b>B. Content of the Product Description, Offers and Measures</b>
        <div class="list">
          <br />
          1. To enroll and conduct business operations on TVB, the Contracting Partner must ensure that the commodities
          to be sold via the partnership with TVB come from lawful sources, are authentic and that the Contracting
          Partner has obtained all necessary certificates to distribute them worldwide. The Contracting Partner agrees
          not to list/offer for sale any counterfeits, proto types or similar editions not meant for sale.
          <br />
          2. The Contracting Partner shall be solely responsible for the content of product listings (including pictures
          and descriptions) and its offers. Unless otherwise agreed, the offers of the Contracting Partner shall
          fundamentally not be checked by TVB for lawfulness, correctness and completeness.
          <br />
          3. The Contracting Partner represents and warrants to hold all necessary rights required to sell and advertise
          the products on any marketplaces run by TVB and its affiliates, including the product descriptions, product
          images and product names. The Contracting Partner further warrants that the products, including the product
          descriptions, product images and product names, are not in violation of third-party rights and that no other
          rights exist that may limit or exclude their use by TVB and its affiliates. In the event of a claim, TVB will
          inform the Contracting Partner and will take all necessary actions for its defense on its own discretion. The
          Contracting Partner shall indemnify and hold TVB and its affiliates harmless from and against any justified
          claims, loss, damage and expenses (including the necessary costs of any litigation and reasonable lawyers'
          fees) that may arise from any breach of the warranties set forth in this clause.
          <br />
          4. The description of the offered products must include a material composition compliant to the Textile
          Regulation (EU) No 1007/2011 and the product measurements on one-size products, together with such information
          as required by TVB from time to time.
          <br />
          5. To safeguard consumer's rights and interests as well as satisfy consumer requirements on product quality
          maximally, the Contracting Partner is obliged to conduct quality control of each product it distributes via
          TVB in accordance with laws, industrial standards and TVB's publicized requirements for each type of product.
          While not exclusively, such control includes lawfulness, safety, consistency between the Contracting Partner's
          description and the product's actual functions and material, also the labeling, marking, appearance and
          packaging of products and consistency with product flaw ranges agreed by the Parties. TVB may, on the basis of
          market feedback, itself or delegate a third-party inspection agency to conduct test-buys occasionally (the
          inspection may include without limitation the comprehensive operational capacity and product storage and
          distribution management capabilities of the Contracting Partner, storage environment, the performance,
          quality, material of products sold by the Contracting Partner, lawfulness, consistency with product flaw
          ranges agreed by the Parties), In order to ensure fairness, the Contracting Partner agrees that the test
          samples are subject to the samples selected by the third-party quality inspection agency.
          <br />
          6. TVB has the right to require the Contracting Partner to provide proof of purchase, authenticity
          certification or third-party test reports and other quality certificates for certain products.
          <br />
          7. TVB reserves the right to reject (at any time) offers placed by the Contracting Partner or to remove them
          from the websites; a justification is not required. The Contracting Partner is not entitled to any rights
          against TVB or its affiliates, particularly damage compensation claims, due to such rejection or removal from
          the mentioned websites.
        </div>
      </div>

      <div class="paragraph">
        <b>C. Ensuring Availability</b>
        <div class="list">
          <br />
          1. By placing a product on the websites, the Contracting Partner is declaring that the Contracting Partner has
          the product available or will be capable of supplying and delivering the product to the buyer upon the
          conclusion of the purchase.
          <br />
          2. In order to guarantee optimal supply availability and to avoid declining customer orders, The Contracting
          Partner pledges a regular exchange of information with TVB by connecting to the TVB system. The Contracting
          Partner must exchange product information via a CSV/JSON/XML feed with specific values. Integration and
          uploads will be set up together with the TVB onboarding team. The feed and stock must be updated frequently
          and sufficiently to guarantee product availability and must as a minimum be refreshed every 30 minutes. The
          Contracting Partner also has the option to add the integration of API interfaces in accordance with the
          specifications from TVB.
          <br />
          3. If orders are (requested) canceled by the Contracting Partner despite the comparison of availability (e.g.
          due to errors in the Contracting Partner's resource system), the Contracting Partner may be liable for fees in
          accordance with the Contractual Partner Incentive Plan. These costs will be included in the invoice and will
          be calculated based on the Contractual Partner Incentive Plan. TVB will charge these costs monthly together
          with the order to which they belong.
        </div>
      </div>

      <div class="paragraph">
        <b>D. Fulfillment Obligations</b>
        <div class="list">
          <br />
          1. Once a customer's order is received, The Contracting Partner will receive notification about the order and
          information required for shipping of the order. The notification will indicate whether the customer has opted
          for TVB Direct Fulfillment or TVB Transit Fulfillment.
          <br />
          <i>
            Please see section F, paragrah 3 for additional terms and conditions applicable to TVB Transit Fulfillments.
          </i>
          <br />
          1. The Contracting Partner shall be obliged to use the TVB shipping agreement.
          <br />
          2. In order to ensure a uniform and high quality customer experience, the Contracting Partner must ship items
          to customers (if TVB Direct) or TVB (if TVB Transit) as soon as possible after receipt of order confirmation.
          In case of late shipments the Contracting Partner is liable for fees in accordance with the Contractual
          Partner Incentive Plan. If the Contracting Partner has not sent the sold goods 7 days after TVB has sent a
          notification of the order, TVB is entitled to cancel the sale on behalf of the Contracting Partner.
          <br />
          3. The customer shall be informed about the statutory right of revocation and return in accordance with legal
          requirements. The Contracting Partner shall be obliged to inform TVB of the necessary information in this
          respect and to notify amendments without delay. The Contracting Partner shall be obliged to use any shipping
          service and handling documents (e.g. revocation instructions) provided by TVB, if such is provided. The
          Contracting Partner will be charged a flat fee of EUR 8 for each order item shipped via TVB's shipping
          agreement. Additional prices relating to shipping may occur, e.g. in relation to lost shipments. These will be
          included when the order to which they apply is invoices.
          <br />
          4. The Contracting Partner is obligated to enclose a delivery note and an invoice including the specification
          of the sales tax and VAT (if applicable) with all deliveries of goods. The return instruction is to be printed
          out for the customer again on the delivery note and the order confirmation and return label to be included in
          the package.
          <br />
          5. The customer has the right to return goods from the Contracting Partner when the customer has shipped the
          goods back to TVB within 30 days of arrival to the customer. The Contracting Partner must in all circumstances
          comply with the EU directive of consumer rights (Directive 2011/83/EU).
          <br />
          6. TVB will notify the Contracting Partner when an order has been returned by the customer to the TVB office.
        </div>
      </div>

      <div class="paragraph">
        <b>E. Limitation of Service and Guarantees from TVB</b>
        <div class="list">
          <br />
          1. TVB may temporarily limit its services if this is required due to capacity limits, the security or
          integrity of the server, or in order to perform technical measures and this serves the purpose of the proper
          or improved performance of services, whereby the justified interests of the Contracting Partner will be taken
          into consideration. Compensation claims for loss of business and/or damages within this context are excluded.
          <br />
          2. TVB must notify partners of any amendments in GTCCP at least 15 days prior to the changes coming into
          effect.
          <br />
          3. TVB may amend the GTCCP without a 15-day period with an immediate effect, if
          <div class="list">
            1. it is subject to legal or regulatory obligations, under which it is obliged to amend the GTCCP in such a
            manner that prevents it from keeping the above-mentioned 15-day notification period,
            <br />
            2. it must by way of an exception amend the GTCCP to counteract unforeseen and immediate threat related to
            the protection of online intermediation services, The Contracting Partner against fraud, malware, spam,
            breach of data or other cybersecurity threats
          </div>
          4. If The Contracting Partner does not accept the amendments in the GTCCP The Contracting Partner can
          terminate according to their contractual terms or Article 11.1. of Regulation (EU) 2019/1150 of the European
          Parliament and of the Council of 20 June.
        </div>
      </div>

      <div class="paragraph">
        <b>F. Payment Settlement & Service Providers</b>
        <div class="list">
          <br />
          1. On the 1st business day after the 21th of each month, TVB will provide the Contracting Partner with a
          statement of balance between the Contracting Partner and TVB. The statement of orders takes into account any
          utilization of a customer's right of return up until the 18th in the month in which the invoice is generated.
          <br />
          2. TVB shall receive a non-refundable transaction fee of 3% for each transaction generated to the Contracting
          Partner to cover payment fees to ex. VISA, Mastercard, Payment services like Collector, Klarna, Afterpay,
          Paypal, Stripe etc. this percentage is already included in the pre-established commission.
          <br />
          3. As long as there is no deviating provision, TVB shall issue a balance and shall settle a positive balance
          with the business account of the Contracting Partner. If a negative balance should result (e.g. because TVB
          made payments to the buyers due to their declarations of returns or rescission), this balance shall be due
          immediately upon the receipt of the corresponding balance of accounts and offset with the next invoice or
          debited by TVB. If the Contracting Partner has any objections to the statement, these must be announced to TVB
          within 5 business days of receiving the invoice, otherwise, the statement shall be deemed to have been
          accepted. TVB shall be entitled to adjust the agreed prices in a reasonable manner. The new prices shall
          become effective and be accounted for in the first invoice sent after the expiry of one month after receipt of
          the written notice. In this case, the Contracting Partner shall be entitled to a special right of termination.
          The termination period is 15 days from receipt of the written notice. Termination must be in writing.
          <br />
          4. For any orders placed in November and December, the return period for customers will be extended up to and
          including 15th of January, to accommodate the Christmas trade. The Contracting Partner's turnover from the 1st
          of November and through the extended return period, will be paid out from the 7th of February.
        </div>
      </div>

      <div class="paragraph">
        <b>§ 3 Special Terms and Conditions relating to TVB Transit Fulfillment</b>
        <div class="list">
          <br />
          1. If the customer has opted for TVB Transit Fulfillment, the Contracting Partner must ship sold goods to TVB
          for a quality and authenticity check. The quality check is an add-on service opted for by the customer,
          designed to identify if the relevant product fits the product description and with the aim to confirm the
          product's authenticity. The quality check does not alter or reduce the scope of the Contracting Partners'
          responsibility towards the customer or TVB. The Contracting Partner is liable for fees in accordance with the
          Contractual Partner Incentive Plan for any item that fails the quality control.
          <br />
          2. Multiple items should - to the extent possible - be grouped into single shipments when shipped to TVB, the
          Contracting Partner must (i) send a list of the order items included in the shipment together with the
          tracking number to:
          <a href="mailto:mab@thevintagebar.com" target="_blank">Mab@thevintagebar.com</a>
          on the same day as the courier picks up the shipment, and (ii) include such list of the sold order items in
          the shipment, for TVB to verify the items upon arrival.
          <br />
          <i>
            Please be aware that without a list of shipped items pick-ups will not be registered which may lead to
            shipping delay fees in accordance with the Contractual Partner Incentive Plan and receipt of items may not
            be registered, which may lead to cancellation of orders. The Contractual Partner holds the burden of proof
            for inclusion of single items in grouped shipments.
          </i>
        </div>
      </div>
      <div class="paragraph">
        <div class="list">
          <br />
          1. TVB disclaims any liability relating to damages or loss during transit to TVB and until delivery at TVB.
          Consequently, in case of damages during shipment you will only be entitled to such compensation as offered by
          the courier.
        </div>
      </div>

      <div class="paragraph">
        <b>§ 4 Rights of Use</b>
        <div class="list">
          <br />
          1. With respect to its brand(s) and logos, for the duration of this agreement, the Contracting Partner shall
          grant TVB and its affiliates a geographically unlimited, non-exclusive and free right of use of material for
          campaigns and for other forms of advertising and the associated advertising media for external communication.
          <br />
          2. With respect to its brand(s) and logos, the Contracting Partner shall furthermore grant TVB and its
          affiliates the right to sell goods worldwide under these brand(s) and logos via all TVB/Miinto Group websites
          for the duration of this agreement.
          <br />
          3. If the Contracting Partner does not wish to be present in all markets, this must be informed to the sales
          representative and to the TVB onboarding team during the onboarding call.
          <br />
          4. TVB is the owner of all product images and works that are internally produced. TVB offers the Contracting
          Partner the right to acquire the right to use and disseminate the photos by means of a license.
          <br />
          5. With respect to content for the presentation of goods that the Contracting Partner provides to TVB (e.g.
          descriptions of articles and product photos), the Contracting Partner shall grant TVB a right of use that is
          simple and unrestricted temporarily or geographically. TVB is entitled to reproduce, edit, publish and pass on
          to third parties and/or to use for third parties, without naming the respective originator.
        </div>
      </div>

      <div class="paragraph">
        <b>§ 5 Responsibility of the Contracting Partner and Indemnity</b>
        <div class="list">
          <br />
          1. The Contracting Partner shall indemnify TVB and its affiliates from all claims on the first request that
          are asserted by third parties towards TVB and its affiliates due to infringement of their rights arising from
          the offers and content placed by the Contracting Partner on the websites of TVB/Miinto Group, or made
          available to TVB and its affiliates by the Contracting Partner, or due to its other use of the internet site.
          This also includes bearing the costs incurred for the defense. The Contracting Partner shall be obliged to
          inform TVB immediately and truthfully in the case of a claim, and to make all information fully available that
          is necessary for the examination and defense of the claim(s).
          <br />
          2. If the product distributed, the information publicized or the after-sales service provided by the
          Contracting Partner leads to a lawsuit or arbitration lodged by any third party against TVB and/or its
          affiliates, TVB may disclose the Contracting Partner as the direct provider of the product concerned and the
          Contracting Partner shall assume all the legal liabilities arising therefrom; if it causes any losses to by
          TVB and/or its affiliates, TVB may require the Contracting Partner to compensate for all such losses.
          <br />
          3. Any legal dispute arising from a transaction between the Contracting Partner and any other user of TVB
          and/or its affiliates websites', including but not limited to complaints, litigations, accusations and
          taxation disputes, shall be resolved between the parties to the transaction. In no case shall TVB or its
          affiliates be held liable in such disputes. However, if the Contracting Partner fails to perform its
          obligations, TVB or its affiliates may intervene in the disputes between the Contracting Partner and such
          user, and decide on and deal with the dispute based on the perception of an ordinary person, and the
          Contracting Partner shall implement the decision so made by TVB.
          <br />
          4. The Contracting Partner agrees that TVB is neither a judicial authority nor a professional agency for
          dispute resolution and TVB handles the dispute between the Contracting Partner and the customer completely on
          the basis of relevant laws, regulations and agreements and the Contracting Partner's and the customer's free
          will. TVB is only able to examine and assess the relevant evidence submitted by the customer and the
          Contracting Partner based on the knowledge and ability of an ordinary non-professional person. The Contracting
          Partner shall be fully and solely responsible for the trueness and lawfulness of the evidence it provides. If
          the decision or handling result made by TVB on the basis of the evidence provided by the Contracting Partner
          is revoked by the judicial authority, the Contracting Partner shall assume all the liabilities incurred
          therefrom; if the evidence provided by the customer upon which TVB makes the decision is revoked by the
          relevant regulatory authority, the Contracting Partner shall solely recover losses from the customer.
          <br />
          5. If the Contracting Partner has any dispute with any other third party, causing TVB or any of its
          affiliates, participation in litigation, arbitration, investigation, or other means of assisting in dispute
          resolution. Under such circumstances, the Contracting Partner is obliged to make full compensation regarding
          TVB's and its affiliates' loss. The scope of compensation includes but is not limited to compensation,
          settlement, mediation, fines, litigation costs or other costs relating to dispute resolution procedures,
          notarization fees, attorney fees, TVB's or its affiliates' internal human and material resources, etc. If the
          Contracting Partner fails to compensate in time, TVB has the right to require the Contracting Partner to bear
          all losses incurred by TVB and its affiliates. In the event that the partner fails to perform the obligation,
          TVB also has the right to suspend the payment to the Contracting Partner and deduct the corresponding amount.
        </div>
      </div>

      <div class="paragraph">
        <b>§ 6 Internal complaint-handling system</b>
        <br />
        TVB shall ensure the operation of an internal complaint-handling system within the meaning of Article 11.1. of
        Regulation (EU) 2019/1150 of the European Parliament and of the Council of 20 June 2019 on promoting fairness
        and transparency for business users of online intermediation services. Complaints of The Contracting Partner
        which relate to the issues listed in this regulation can be made through
        <a href="mailto:Legal@thevintagebar.com">Legal@thevintagebar.com</a>
      </div>

      <table class="table">
        <thead>
          <tr>
            <th class="text-bold">Subject</th>
            <th class="text-bold">Scope</th>
            <th class="text-bold">Fee</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Fast shipping</td>
            <td>
              If 80% of completed orders within a given month are shipped by partner within 48 hours after placement of
              order (Based on pick-up by courier)
            </td>
            <td>
              Partner discount equal to 50% of shipping fees payable to TVB relating to such partner’s completed orders
              in the given month (deducted in monthly invoice amount)
            </td>
          </tr>

          <tr>
            <td></td>
            <td>
              Each Item shipped by partner later than 48 hours after placement of order. (Based on pick-up by courier).
            </td>
            <td>
              10% of order item value fee (maximum EUR 50) which may be used to cover a “Delayed order Voucher” to the
              customer.
            </td>
          </tr>

          <tr>
            <td></td>
            <td>
              Each Item shipped by partner later than 7 days after placement of order. (Based on pick-up by courier)
            </td>
            <td>Additional 10% of order item value fee (20% in total).</td>
          </tr>

          <tr>
            <td class="text-bold">Consistent delivery of high quality products</td>
            <td></td>
            <td></td>
          </tr>

          <tr>
            <td class="text-italic">Quality and Authentication check (only TVB Transit)</td>
            <td>Each rejected item</td>
            <td>Commission will be charged for any item that fails the quality and authenticity check.</td>
          </tr>

          <tr>
            <td class="text-italic">Cancellations</td>
            <td>
              If less than 5 % of sold items in a given month are canceled by the partner, the partner will not be
              charged cancellation fee
            </td>
            <td>
              50% of the commission fee will be charged on all sold but canceled items, if a seller cancels 5 % or more
              of sold items in a given month.
            </td>
          </tr>
        </tbody>
      </table>

      <div class="paragraph">
        <b>CONTRACTUAL PARTNER INCENTIVE PLAN</b>
        <br />
        <br />
        <b>Updated: July 2022</b>
        <br />
        <b>Subject</b>
        <br />
        <b>Scope</b>
        <br />
        <b>Fee</b>
        <br />
        <b>Fast shipping</b>
        <br />
        If 80% of completed orders within a given month are shipped by partner within 48 hours after placement of order
        (Based on pick-up by courier)
        <br />
        Partner discount equal to 50% of shipping fees payable to TVB relating to such partner's completed orders in the
        given month (deducted in monthly invoice amount)
      </div>

      <div class="paragraph">
        Each Item shipped by partner later than 48 hours after placement of order. (Based on pick-up by courier). 10% of
        order item value fee (maximum EUR 50) which may be used to cover a “Delayed order Voucher” to the customer.
      </div>

      <div class="paragraph">
        Each Item shipped by partner later than 7 days after placement of order. (Based on pick-up by courier)
        Additional 10% of order item value fee (20% in total).
        <br />
        <b>Consistent delivery of high quality products</b>
      </div>

      <div class="paragraph">
        <br />
        <i>Quality and Authentication check (only TVB Transit)</i>
        <br />
        <i>Each rejected item</i>
        <br />
        Commission will be charged for any item that fails the quality and authenticity check.
        <br />
        <i>Cancellations</i>
        <br />
        If less than 5 % of sold items in a given month are canceled by the partner, the partner will not be charged
        cancellation fee
        <br />
        50% of the commission fee will be charged on all sold but canceled items, if a seller cancels 5 % or more of
        sold items in a given month.
      </div>
    </div>

    <ng-container *ngIf="!alreadyAccepted">
      <div class="form-group">
        <div class="warn">** You must scroll to the bottom before submitting</div>
        <app-checkbox
          [name]="'terms_and_conditions'"
          formControlName="terms_and_conditions"
          [disabled]="!hasReadTerms"
          [ngClass]="{ disable: !hasReadTerms }"
        >
          On behalf of {{ user.company_name }} I hereby confirm to have read and to accept the amended terms and
          conditions set out above.
        </app-checkbox>
        <button
          class="btn primary update-btn"
          type="submit"
          id="save_button"
          [disabled]="!mainForm.controls.terms_and_conditions.value"
        >
          {{ 'Save' | translate }}
        </button>
      </div>
    </ng-container>
    <ng-container *ngIf="alreadyAccepted">
      <div class="already-accepted">Pro-Sellers Terms, already accepted.</div>
    </ng-container>
  </form>
</div>
