.container {
  .main-title {
    font-family: 'Cormorant', serif;
    font-size: 19px;
    margin-bottom: 20px;
  }
  .text {
    padding-bottom: 30px;
    font-size: 14px;
    max-height: 300px;
    overflow-y: auto;
    margin-bottom: 30px;
    line-height: 24px;
  }
  .paragraph {
    margin-bottom: 16px;
  }
  .list {
    margin-left: 30px;
  }
  .update-btn {
    margin-top: 10px;
  }
  .disable {
    opacity: 0.6;
  }
  .already-accepted {
    font-size: 17px;
  }
  .warn {
    font-size: 15px;
    margin-bottom: 15px;
  }
}
