:host {
  font-family: 'Playfair Display', serif;
  font-weight: 400;

  .resell-for-free-container {
    max-width: unset;
    justify-content: center;

    .product-data {
      flex-direction: column;

      .form-container {
        flex-direction: column;

        .resell-for-free-form {
          justify-content: center;
          flex-direction: column;
          flex: 1;

          .form-group {
            margin-top: 1em;
            flex-direction: column;
            .form-group-title {
              margin-bottom: 0.5em;
            }

            &.item {
              padding-left: 15px;
              padding-right: 15px;
            }
          }

          .pricing-information {
            flex-direction: row;
            justify-content: space-around;

            .form-group {
              flex-direction: column;
            }
          }
        }
      }
    }
  }
}
