:host {
  font-family: 'Playfair Display', serif;
  font-weight: 400;

  .product-add-images {
    max-width: unset;

    .left-sidebar {
      padding-left: 0;
    }

    .form-container-wrapper {
      .form-title {
        margin-bottom: 20px;
        font-family: Playfair Display, serif;

        .item-picture-description {
          float: right;
          font-size: 14px;
          cursor: pointer;
        }

        .item-picture-description-show {
          position: absolute;
          background: #fff;
          border: 1px solid #333;
          z-index: 999;
          max-width: 500px;
          right: 0;
          top: 30px;
          padding: 15px;
          font-size: 12px;
          font-family: 'FuturaBT-Light';
          line-height: 20px;
          text-align: left;
        }
      }

      .warning-container {
        color: var(--text-secondary-grey);
        font-size: 12px;
      }

      .form-container {
        display: flex;
        margin-top: 10px;

        #imagesForm {
          max-width: 600px;

          .images-container {
            border: 1px solid black;
            padding: 0 10px;

            .form-group {
              .form-group-title {
                justify-content: center;
                font-family: Playfair Display, serif;
              }

              .description {
                justify-content: center;
              }

              .input-container {
                justify-content: center;

                .image-container {
                  width: 87.5px;
                  height: 87.5px;
                  align-items: center;
                  justify-content: center;

                  &.main {
                    width: 180px;
                    height: 180px;
                  }

                  &:nth-child(2) {
                    display: none;
                  }
                }
              }

              &.additional-images {
                .secondary-images-container {
                  flex-wrap: wrap;
                  flex-direction: row;

                  .input-container {
                    margin: 0 2.5px 2.5px 2.5px;

                    &.align-self-end {
                      margin-top: 5px;
                    }

                    &:nth-child(5) {
                      display: none;
                    }

                    .image-container.main {
                      width: 87.5px;
                      height: 87.5px;
                    }
                  }
                }
              }

              &.main-image-container {
                .cdk-drag-placeholder {
                  display: none;
                }

                .cdk-drag.input-container {
                  transform: unset !important;
                }
              }
            }
          }

          .form-group.button-container {
            margin-top: 10px;
          }
        }

        .image-list-description {
          padding: 10px;
          font-size: 14px;
          display: flex;
          flex-direction: column;
          justify-content: center;

          .title {
            margin-bottom: 20px;
            font-family: Playfair Display, serif;
          }

          ul {
            padding-left: 20px;
          }
        }
      }
    }

    .photo-guideline {
      display: none;

      ::ng-deep .accordion-item {
        box-shadow: unset;

        .category-header {
          padding-left: 0;
          border-radius: 0;
          text-decoration: underline;

          &:hover {
            background: transparent;
          }

          &.mat-expanded {
            height: 48px;
          }

          .mat-expansion-indicator::after {
            color: var(--main-color-black);
            border-width: 0 1px 1px 0;
            padding: 6px;
          }
        }

        .mat-expansion-panel-content {
          padding-top: 10px;
        }

        &.mat-expansion-panel-spacing {
          margin: 0;
        }
      }
    }
  }

  @media (min-width: 320px) and (max-width: 1200px) {
    .product-add-images {
      flex-direction: column;

      .left-sidebar {
        padding: 0;
        flex: 1;
        max-width: 100%;
      }

      .form-container-wrapper {
        border: 0;
        flex: 1;
        max-width: 100%;

        .form-title {
          text-align: center;
        }

        .form-container {
          flex-direction: row;
          justify-content: center;

          #imagesForm {
            .images-container {
              flex-direction: column;

              .form-group {
                .input-container {
                  margin-top: 0;

                  .image-container {
                    width: 100px;
                    height: 100px;
                    margin: 5px 5px 5px 5px;
                    flex-basis: unset;

                    &.main {
                      width: 270px;
                      height: 270px;
                    }
                  }
                }

                &.align-self-end {
                  margin-top: 0;
                }
              }

              .additional-images {
                flex-direction: column;
                display: flex;

                .secondary-images-container {
                  max-width: 470px;
                  align-self: center;
                  justify-content: center;

                  .input-container:nth-child(5) {
                    display: none;
                  }
                }
              }
            }
          }

          .image-list-description {
            display: none;
          }
        }

        .form-group.button-container {
          margin-top: 10px;
          justify-content: center;
        }
      }

      .photo-guideline {
        display: flex;
      }
    }
  }
}

::ng-deep .mat-expansion-indicator::after {
  margin-top: -10px;
}

::ng-deep .image-container label,
::ng-deep button.primary {
  cursor: pointer;
}

.secondary-images-drop-lists-container {
  flex-wrap: wrap;
  justify-content: center;
}
