.my-items-container {
  flex: 1;
  flex-direction: column;

  .tabs-container {
    display: flex;
    justify-content: center;
    flex: 1;
    padding: 0 0 40px 0;

    .tabs-container-wrapper {
      flex: 1;
      justify-content: center;

      .tab-container {
        width: 100%;
      }

      ::ng-deep .nav-tabs {
        flex: 1;
        border: 0;
        margin-bottom: 10px;
        border-bottom: 2px solid;
        border-color: #969696;

        .nav-item {
          flex: 1;

          .nav-link {
            color: var(--main-color-black);
            background: transparent;
            text-align: center;
            white-space: nowrap;
            margin-bottom: 5px;
            border: 0;
            font-family: 'Playfair Display', serif;

            &.active {
              span {
                border-bottom: 2px solid;
                border-color: #969696;
              }
            }
          }
        }
      }
    }
  }

  .mobile-container {
    padding-top: 10px;

    .accordion-container {
      ::ng-deep .accordion-item {
        box-shadow: unset;
        .mat-expansion-panel-header {
          font-size: 16px;
          text-transform: inherit;
          margin-bottom: 0;
        }
        .category-header {
          border-bottom: 1px solid var(--main-color-black);
          border-radius: 0;

          &:hover {
            background: transparent;
          }

          &.mat-expanded {
            height: 48px;
          }

          .mat-expansion-indicator::after {
            color: var(--main-color-black);
            border-width: 0 1px 1px 0;
            padding: 6px;
          }
        }

        .mat-expansion-panel-content {
          padding-top: 10px;
          .mat-expansion-panel-body {
            padding: 0;
          }
        }

        &.mat-expansion-panel-spacing {
          margin: 0;
        }
      }
    }
  }
}
