:host {
  .dialog-header {
    text-align: -webkit-right;

    button {
      background: transparent;
      border: 0;
      z-index: 1;

      &:focus-visible {
        border: 0;
        outline: 0;
      }
    }
  }

  .dialog-header.default-dialog {
    padding: 5px;
    border: 0px;

    button {
      padding: 0;
      opacity: 1;

      i.material-icons {
        font-size: 28px;
        font-weight: 400;
      }
    }

    button:hover {
      color: #000;
      opacity: 1;
    }
  }
}
