@mixin title {
  .title {
    margin: 40px 0 20px 0;
    text-align: center;
    padding: 0 20px;
    font-family: 'Playfair Display', 'serif';
  }
}

@mixin select-container {
  .select-container {
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    display: inline-block;
    width: 100%;

    ng-select.ng-select {
      width: 100%;
      max-width: 100%;

      .ng-placeholder {
        left: 0;
        right: 0;
      }
    }
  }
}

@include title;
@include select-container;

:host {
  input[type='tel'].secondary,
  input[type='text'].secondary,
  input[type='password'].secondary,
  input[type='email'].secondary,
  input[type='number'].secondary,
  textarea,
  ::ng-deep ng-select.ng-select .ng-select-container,
  input.mat-datepicker-input.secondary {
    border: 1px solid var(--steps-gray);
    padding: 0 10px;
  }

  // Remove the padding from the rule above because it's already applied on ng-select.scss
  ::ng-deep ng-select.ng-select .ng-select-container {
    padding: 0;
  }

  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  ng-select.ng-select {
    max-width: 100%;
    padding-bottom: 0;
  }
}

.error-message {
  font-size: 14px;
  text-align: left;
  width: 100%;
  display: inline-block;
  font-family: 'FuturaBT-Light', 'sans-serif';
  color: var(--form-error);
  margin-top: 10px;
}

.form-title {
  margin-bottom: 20px;
  border-bottom: 1px solid var(--main-color-black);
  padding: 10px 10px 10px 0;
}

.input-title {
  width: 100%;
  margin: 20px 0 5px 0;
}

.input-container {
  .phone-code-select {
    width: 30%;
  }

  .phone-number-input {
    width: 70%;
    margin-left: 20px;
  }

  .phonecode-label {
    padding-left: 10px;
  }

  .phone-code-input {
    width: 100%;
    line-height: 24px;
    border: 1px solid var(--steps-gray);
  }
}

.submit-button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
}

#transfer_information_title {
  padding-top: 37px;
}

.after-form-container {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
}
