<p>{{ 'help_and_support.delivery.shipping.p1' | translate }}</p>

<ul>
  <li>{{ 'help_and_support.delivery.shipping.li1' | translate }}</li>
  <li>{{ 'help_and_support.delivery.shipping.li2' | translate }}</li>
  <li>{{ 'help_and_support.delivery.shipping.li3' | translate }}</li>
</ul>

<p>{{ 'help_and_support.delivery.shipping.p2' | translate }}</p>
<p>
  {{ 'help_and_support.delivery.shipping.p3_1' | translate }}
  <a routerLink="/account/my-orders" class="link primary" target="_blank">
    {{ 'help_and_support.delivery.shipping.p3_2' | translate }}
  </a>
  {{ 'help_and_support.delivery.shipping.p3_3' | translate }}
</p>
