<div id="new-arrivals" class="new-arrivals">
  <div class="col-lg-4 col-md-4 col-sm-4 newarr-left">
    <div class="first">NEW ARRIVALS UPLOADED TODAY</div>
    <h3>{{ numOfProducts }}</h3>
    <div class="third">Discover our fresh drop of new arrivals from all your favorite brands.</div>
    <div class="cta-btn">
      <a href="/new-in">SEE WHAT’S NEW</a>
    </div>
  </div>
  <div class="col-lg-8 col-md-8 col-sm-8 newarr-right">
    <div class="tags-section desktop">
      <div class="tags"><a href="/designer/louis-vuitton">LOUIS VUITTON</a></div>
      <div class="tags"><a href="/designer/balenciaga">BALENCIGA</a></div>
      <div class="tags"><a href="/designer/gucci">GUCCI</a></div>
      <div class="tags"><a href="/designer/chlo">CHLOÉ</a></div>
      <div class="tags"><a href="/designer/goyard">GOYARD</a></div>
      <div class="tags"><a href="/designer/loewe">LOEWE</a></div>
      <div class="tags"><a href="/designer/fendi">FENDI</a></div>
      <div class="tags"><a href="/designer/balmain">BALMAIN</a></div>
      <div class="tags"><a href="/designer/chanel">CHANEL</a></div>
      <div class="tags"><a href="/designer/bottega-veneta">BOTTEGA VENETA</a></div>
      <div class="tags"><a href="/designer/jimmy-choo">JIMMY CHOO</a></div>
      <div class="tags"><a href="/designer/saint-laurent">SAINT LAURENT</a></div>
      <div class="tags"><a href="/designer/prada">PRADA</a></div>
      <div class="tags"><a href="/designer/jacquemus">JACQUEMUS</a></div>
      <div class="tags"><a href="/designer/hermes">HERMÈS</a></div>
      <div class="tags"><a href="/designer/celine">CELINE</a></div>
      <div class="tags"><a href="/designer/miu-miu">MIU MIU</a></div>
      <div class="tags"><a href="/designer/dolce-gabanna">DOLCE & GABBANA</a></div>
      <div class="tags"><a href="/designer/burberry">BURBERRY</a></div>
      <div class="tags"><a href="/designer/cartier">CARTIER</a></div>
      <div class="tags"><a href="/designer/christian-laboutin">CHRISTIAN LOUBOUTIN</a></div>
    </div>

    <div class="tags-section mobile">
      <div class="tags"><a href="/designer/louis-vuitton">LOUIS VUITTON</a></div>
      <div class="tags"><a href="/designer/balenciaga">BALENCIGA</a></div>
      <div class="tags"><a href="/designer/gucci">GUCCI</a></div>
      <div class="tags"><a href="/designer/chlo">CHLOÉ</a></div>
      <div class="tags"><a href="/designer/goyard">GOYARD</a></div>
      <div class="tags"><a href="/designer/loewe">LOEWE</a></div>
      <div class="tags"><a href="/designer/fendi">FENDI</a></div>
      <div class="tags"><a href="/designer/balmain">BALMAIN</a></div>
      <div class="tags"><a href="/designer/chanel">CHANEL</a></div>
      <div class="tags"><a href="/designer/bottega-veneta">BOTTEGA VENETA</a></div>
      <div class="tags"><a href="/designer/jimmy-choo">JIMMY CHOO</a></div>
      <div class="tags"><a href="/designer/saint-laurent">SAINT LAURENT</a></div>
      <div class="tags"><a href="/designer/prada">PRADA</a></div>
    </div>
  </div>
</div>
