<footer>
  <section>
    <img src="assets/images/security.svg" />
    <h2>The Real Deal</h2>

    <p>
      You deserve to know what you’re getting, so we authenticate all pieces before sending them to
      you.
    </p>
  </section>

  <section>
    <img src="assets/images/wechat_white.svg" />
    <h2>We're here for you</h2>

    <p>Our Community Care is ready to answer any questions you may have.</p>
  </section>

  <section>
    <img src="assets/images/returns.svg" />
    <h2>No harm, no foul</h2>

    <p>
      We have different return and re-list options in case you regret your purchase. We won’t mind.
    </p>
  </section>
</footer>
