:host {
  --color-disabled: #d1d1d180;
}

.auth-container {
  height: 100%;
  position: relative;
  display: flex;
  align-content: center;
  justify-content: flex-end;

  .top {
    display: none;
  }

  .login-image-box {
    background: url('https://tvbprodimages.azureedge.net/static/shared/top.png') no-repeat;
    background-size: cover;
    background-position: center;
    width: 80%;
    height: 100%;
    z-index: 1;
    position: absolute;
    left: 0;
  }

  .login-container {
    padding: 100px;
    background-color: #fff;
    z-index: 2;
    margin: auto 0;
    height: 90%;
    display: flex;
    align-items: center;

    .tabs-container {
      display: flex;
      align-items: center;
      min-height: 700px;
      width: 100%;

      .tab-container {
        width: 100%;
        min-height: 600px;
      }

      ::ng-deep .nav-tabs {
        flex: 1;
        border: 0;

        .nav-item {
          flex: 1;

          .nav-link {
            color: var(--color-disabled);
            background: transparent;
            text-align: center;
            white-space: nowrap;
            font-family: Manrope;
            font-size: 1rem;
            border: 0;
            border-bottom: 1px solid var(--color-disabled);

            &.active {
              font-weight: 600;
              color: var(--main-color-black);
              border: 0;
              border-bottom: 2px solid var(--main-color-black);
            }
          }
        }
      }
    }
  }
}

// Full HD screens and up
@media (min-width: 1920px) {
  .login-container {
    min-width: 800px;
  }
}

// Bigger than Phones, up to HD screens
@media (min-width: 768px) and (max-width: 1919px) {
  .login-container {
    min-width: 600px;
  }
}

// Up to Phones
@media (max-width: 767px) {
  :host {
    .auth-container {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      height: 100vh;
      overflow-y: auto;

      .login-image-box {
        display: flex;
        position: relative;
        width: 100%;
        min-height: 238px;
        max-height: 300px;
        z-index: 1;
      }

      .login-container {
        display: flex;
        align-items: center;
        padding: 10px;
        width: 100%;
        min-width: unset;
        z-index: 1;

        .tabs-container {
          padding: 0;
          width: 100%;

          .tabs-container-wrapper {
            width: 100%;

            ::ng-deep .nav-tabs {
              justify-content: center;
              margin-top: 40px;

              .nav-item {
                flex-basis: 25%;
                flex-grow: 1;
              }
            }

            .login-image-box {
              display: flex;
            }
          }
        }
      }
    }
  }
}
