:host {
  svg {
    width: 100%;
  }
  .address-modal {
    .modal-header {
      padding: 10px 1em;
      background: #000;
      color: #fff;

      button {
        color: #fff;
        opacity: 1;
      }
      h2 {
        margin-bottom: 0px;
        font-family: 'Playfair Display';
      }
    }
    .modal-body {
      line-height: 20px;
      font-size: 16px;
      font-family: 'system-ui';

      button {
        display: block;
        margin-top: 20px;
        width: 100%;
        background-color: #000;
        font-family: 'system-ui';
        border-radius: 0px;
        font-size: 12px;
      }
    }
  }
  .delete-model {
    button.close {
      padding-right: 10px;
      padding-top: 5px;
    }
    .modal-header {
      padding: 10px 1em;
      background: #000;
      color: #fff;

      button {
        color: #fff;
        opacity: 1;
      }
    }
    .modal-body {
      line-height: 20px;
      font-size: 16px;
      font-family: 'system-ui';
      h2 {
        margin-bottom: 0px;
        font-family: 'Playfair Display';
      }
      button {
        display: inline-block;
        margin-top: 20px;
        width: 50%;
        background-color: #000;
        font-family: 'system-ui';
        border-radius: 0px;
        font-size: 12px;
        color: #fff;
      }
    }
  }
  .shipping-container {
    font-family: 'FuturaBT-Light';
    .address-list > div {
      position: relative;
    }

    .address-list {
      label {
        padding-left: 3em;
        font-size: 14px;
        font-family: 'FuturaBT-Light';
        font-weight: 800;
        cursor: pointer;
      }
      input.checkout-radiobutton {
        margin-left: 8px;
        position: absolute;
        visibility: hidden;
      }
      input:checked + label::before {
        width: 10px;
        height: 10px;
        border: 1px solid #000;
        background: #000;
      }
      p {
        padding-left: 40px;
        display: inline-block;
        width: 100%;
        position: relative;
        font-size: 13px;
        line-height: 24px;
      }
      label:before {
        position: absolute;
        content: ' ';
        width: 10px;
        height: 10px;
        left: 0;
        top: 3px;
        border: 1px solid #000;
        border-radius: 50%;
        left: 9px;
        top: calc(50% - 10px);
      }
      .address-actions {
        float: right;
        a.edit-address {
          font-size: 12px;
          text-transform: none;
          font-family: 'FuturaBT-Light', sans-serif;
          text-decoration: underline;
          color: #000;
          margin-right: 10px;
        }
      }
    }
  }
  .sub-heading {
    display: block;
    margin-top: 40px;
    margin-bottom: 30px;
  }
  .title h1 {
    font-family: 'Playfair Display';
    padding-bottom: 30px;
    margin-bottom: 16px;
    .sub-heading {
      margin-bottom: 30px;
    }
  }
  .sub-heading {
    font-weight: 500;
    font-family: 'FuturaBT-Light';
    font-size: 12px;
    color: #000;
  }
  .shipping-form {
    #shippingForm,
    #billingForm {
      .form-group.mobile-number {
        label {
          width: 100%;
        }
        ng-select.phone-code {
          display: inline-block;
          margin-right: 10px;
          width: 37%;
          padding-bottom: 0px;
          line-height: 18px;
        }

        input#mobile_no {
          display: inline-block;
          width: 59%;
        }
      }

      .error-message {
        font-size: 14px;
        text-align: center;
        font-family: 'FuturaBT-Light';
        color: #000;
      }
      .form-group {
        .primary {
          border: 1px solid var(--main-color-black);
          width: 100%;
          height: 40px;
          font-family: 'FuturaBT-Light';
          padding: 5px 10px;
        }
      }
    }
  }
  .btn.shipping-btn {
    line-height: 25px;
    width: 100%;
    font-size: 12px;
  }
  .billing-section,
  .address-list {
    strong {
      font-family: 'FuturaBT-Medium';
    }
    button.btn.btn-secondary {
      min-width: 240px !important;
      height: 44px;
      margin-bottom: 40px;
      margin-top: 20px;
      line-height: unset;
    }
    .btn span {
      vertical-align: middle;
    }
    span.material-icons.md-17 {
      margin-right: 10px;
      font-size: 17px;
    }
    .sub-text {
      margin-top: 10px;
    }
  }

  .tvb-dialog-container {
    top: 50%;
    left: 50%;
    bottom: auto;

    .material-icons {
      position: absolute;
      top: 5px;
      right: 10px;
      cursor: pointer;
      font-family: 'Roboto';
      font-size: 14px;
      font-size: 20px;
      color: #ccc;
    }

    .tvb-dialog-body {
      border: 1px solid #ccc;

      .tvb-dialog-inner-body {
        padding: 30px 30px;
        text-align: center;
        .title-info {
          text-align: left;
          position: relative;
          width: 100%;
          display: inline-block;
          vertical-align: top;
          h1 {
            letter-spacing: var(--unnamed-character-spacing-0);
            color: var(--unnamed-color-000000);
            text-align: left;
            letter-spacing: 0px;
            color: #000000;
            opacity: 1;
            top: 589px;
            left: 856px;
            width: 368px;
            height: 39px;
            font-weight: bold;
            font-size: 15px;
            display: block;
            font-family: 'Futura';
          }
          h4 {
            padding-bottom: 20px;
            margin: 0;
            font-weight: 500;
            line-height: 1.1;
            color: inherit;
            font-family: 'system-ui';
          }
          p {
            top: 616px;
            left: 856px;
            height: 72px;
            letter-spacing: var(--unnamed-character-spacing-0);
            color: var(--unnamed-color-000000);
            text-align: left;
            font: normal normal 300 15px/19px Futura;
            letter-spacing: 0px;
            color: #000000;
            opacity: 1;
            margin: 0 0 10.5px;
            font-size: 15px;
            line-height: 24px;
            font-family: 'FuturaBT-Light';
          }
        }
      }
    }
  }

  .shipping-info-modal {
    box-shadow: 0px 3px 18px #00000029;
    background: #fff;

    .modal-dialog {
      margin: 0;

      h1 {
        font-family: 'FuturaBT-Medium';
      }

      .material-icons img {
        width: 12px;
      }
    }

    .modal-content {
      border: none;

      .tvb-dialog-body {
        border: none;
      }
    }
  }

  #shippingForm,
  #billingForm {
    .form-group.mobile-number {
      label {
        width: 100%;
      }
      ng-select.phone-code {
        display: inline-block;
        margin-right: 10px;
        width: 37%;
        padding-bottom: 0px;
        line-height: 18px;
      }

      input#mobile_no {
        display: inline-block;
        width: 59%;
      }
    }

    .error-message {
      font-size: 14px;
      text-align: center;
      font-family: 'FuturaBT-Light';
      color: #000;
    }
    .form-group {
      .primary {
        border: 1px solid var(--steps-gray);
        width: 100%;
        height: 40px;
        font-family: 'FuturaBT-Light';
        padding: 5px 10px;
      }
    }
  }
  .btn.shipping-btn {
    line-height: 25px;
    width: 100%;
    font-size: 12px;
  }
  .billing-section,
  .address-list {
    button.btn.btn-secondary {
      min-width: 240px !important;
      height: 44px;
      margin-bottom: 40px;
      margin-top: 20px;
      line-height: unset;
    }
    .btn span {
      vertical-align: middle;
    }
    span.material-icons.md-17 {
      margin-right: 10px;
      font-size: 17px;
    }
    .sub-text {
      margin-top: 10px;
    }
  }
}
