<div class="tvb-dialog-container">
  <i class="material-icons" (click)="onClose(false)">x</i>
  <div class="tvb-dialog-body">
    <div class="tvb-dialog-inner-body">
      <div class="title-info">
        <h3>RETURNS</h3>
        <p>
          If you wish to return a purchased product, please inform us by contacting us by email at
          <a href="mailto:info@thevintagebar.dk">info@thevintagebar.dk</a>
          .
        </p>
        <p>You have to give us notice and send your product back to us within 14 days after you receive your order.</p>
      </div>
    </div>
  </div>
</div>
