<div class="topic-banner no-dorder-bottom">
  <div class="container">
    <div class="topic-img-bg">
      <img src="{{ env.IMGIX_UPLOADS_URL }}static/shared/CAREERS_new.jpg" alt="CAREERS_new" class="img-responsive" />
    </div>
  </div>
</div>

<div class="static-page-text">
  <div class="container">
    <div class="page-title-header">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <div class="page-title text-center">
            <h1>{{ 'CAREERS' | translate }}</h1>
            <h3>{{ 'career_intro1' | translate }} .</h3>
          </div>
        </div>
        <div class="col-md-6">
          <p>{{ 'career_intro2' | translate }} .</p>
        </div>

        <div class="col-md-6">
          <p>{{ 'career_intro3' | translate }} .</p>
        </div>
      </div>
    </div>
    <div class="discover-opt">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <div class="page-title text-center">
            <h2>{{ 'DISCOVER OUR OPPORTUNITIES' | translate }}</h2>
          </div>
        </div>
      </div>
      <div class="table-opportunities">
        <table class="table">
          <thead>
            <tr>
              <th>{{ 'Position' | translate }}</th>
              <th>{{ 'Department' | translate }}</th>
              <th>{{ 'Location' | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><a href="{{ env.IMGIX_UPLOADS_URL }}static/docs/TVBjunior_job.pdf">TVB Junior</a></td>
              <td><a href="{{ env.IMGIX_UPLOADS_URL }}static/docs/TVBjunior_job.pdf">E-commerce</a></td>
              <td><a href="{{ env.IMGIX_UPLOADS_URL }}static/docs/TVBjunior_job.pdf">Copenhagen</a></td>
            </tr>
            <tr>
              <td><a href="{{ env.IMGIX_UPLOADS_URL }}static/docs/OPERATIONS_INTERN_JOB.pdf">Operations Intern</a></td>
              <td><a href="{{ env.IMGIX_UPLOADS_URL }}static/docs/OPERATIONS_INTERN_JOB.pdf">Operations</a></td>
              <td><a href="{{ env.IMGIX_UPLOADS_URL }}static/docs/OPERATIONS_INTERN_JOB.pdf">Copenhagen</a></td>
            </tr>
            <tr>
              <td>
                <a href="{{ env.IMGIX_UPLOADS_URL }}static/docs/Product-Curator-Intern.pdf">Product Curator Intern</a>
              </td>
              <td><a href="{{ env.IMGIX_UPLOADS_URL }}static/docs/Product-Curator-Intern.pdf">E-commerce</a></td>
              <td><a href="{{ env.IMGIX_UPLOADS_URL }}static/docs/Product-Curator-Intern.pdf">Copenhagen</a></td>
            </tr>
            <tr>
              <td>
                <a href="{{ env.IMGIX_UPLOADS_URL }}static/docs/Community-Care-&-SoMe-Communication-Intern.pdf">
                  Community Care & SoMe Communication Intern
                </a>
              </td>
              <td>
                <a href="{{ env.IMGIX_UPLOADS_URL }}static/docs/Community-Care-&-SoMe-Communication-Intern.pdf">
                  Community Care
                </a>
              </td>
              <td>
                <a href="{{ env.IMGIX_UPLOADS_URL }}static/docs/Community-Care-&-SoMe-Communication-Intern.pdf">
                  Copenhagen
                </a>
              </td>
            </tr>
            <tr>
              <td>
                <a href="{{ env.IMGIX_UPLOADS_URL }}static/docs/Graphical_Designer_Intern.pdf">
                  Graphical Designer Intern
                </a>
              </td>
              <td><a href="{{ env.IMGIX_UPLOADS_URL }}static/docs/Graphical_Designer_Intern.pdf">Design</a></td>
              <td><a href="{{ env.IMGIX_UPLOADS_URL }}static/docs/Graphical_Designer_Intern.pdf">Copenhagen</a></td>
            </tr>
            <tr>
              <td><a href="{{ env.IMGIX_UPLOADS_URL }}static/docs/Intern-PR.pdf">PR & Communication Intern</a></td>
              <td><a href="{{ env.IMGIX_UPLOADS_URL }}static/docs/Intern-PR.pdf">PR</a></td>
              <td><a href="{{ env.IMGIX_UPLOADS_URL }}static/docs/Intern-PR.pdf">Copenhagen</a></td>
            </tr>
            <tr>
              <td><a href="{{ env.IMGIX_UPLOADS_URL }}static/docs/SEO-specialist.pdf">SEO Specialist</a></td>
              <td><a href="{{ env.IMGIX_UPLOADS_URL }}static/docs/SEO-specialist.pdf">Marketing</a></td>
              <td><a href="{{ env.IMGIX_UPLOADS_URL }}static/docs/SEO-specialist.pdf">Copenhagen / Remote</a></td>
            </tr>
            <tr>
              <td>
                <a href="{{ env.IMGIX_UPLOADS_URL }}static/docs/Intern-Content-Creation-&-SoMe.pdf">
                  Content Creation & SoMe Intern
                </a>
              </td>
              <td>
                <a href="{{ env.IMGIX_UPLOADS_URL }}static/docs/Intern-Content-Creation-&-SoMe.pdf">Content Creation</a>
              </td>
              <td>
                <a href="{{ env.IMGIX_UPLOADS_URL }}static/docs/Intern-Content-Creation-&-SoMe.pdf">
                  Copenhagen / Remote
                </a>
              </td>
            </tr>
            <tr>
              <td>
                <a href="{{ env.IMGIX_UPLOADS_URL }}static/docs/photographer.pdf">
                  Photographer Intern
                </a>
              </td>
              <td>
                <a href="{{ env.IMGIX_UPLOADS_URL }}static/docs/photographer.pdf">Content Creation</a>
              </td>
              <td>
                <a href="{{ env.IMGIX_UPLOADS_URL }}static/docs/photographer.pdf">
                  Copenhagen / Remote
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
