:host .container {
  width: 1110px;
}

.footer-main {
  width: 100%;
  border-top: 1px solid var(--main-color-gray);
  margin-top: 40px;

  .footer-row {
    margin-bottom: 20px;
    padding-top: 30px;
  }

  .footer-column {
    width: 100%;
    padding-left: 40px;
    padding-right: 0;

    &:first-of-type {
      padding-left: 0;
    }

    .footer-title {
      font-weight: bold;

      h3 {
        font-family: 'Futura';
        font-size: 13px;
        text-transform: uppercase;
      }
    }

    .footer-nav-list {
      position: relative;
      width: 100%;
      list-style: none;
      display: contents;

      li {
        display: block;
        line-height: 40px;

        a {
          color: var(--sub-footer-copyright-color);
          font-size: 14px;
        }
      }
    }

    .footer-social-icons {
      margin-top: 30px;

      a {
        margin-right: 20px;

        &:last-of-type {
          margin-right: 0;
        }
      }
    }

    .footer-newsletter {
      position: relative;
      width: 100%;

      .newsletter-btn-full {
        background-color: var(--main-color-black);
        border-radius: 0;
        width: 100%;
        padding: 0px 20px;
        color: #fff;
        text-transform: uppercase;
        line-height: 40px;
        font-size: 0.8rem;
      }

      .newsletter-btn-full.focus,
      .newsletter-btn-full:focus,
      .newsletter-btn-full:hover {
        background-color: #666;
        color: #fff;
        border-color: #666;
      }
    }
  }

  .sub-footer {
    border-top: 1px solid var(--main-color-gray);

    .sub-footer-row {
      .left-sub-footer {
        padding-left: 0;

        .copyright {
          text-align: left;
          font-size: 12px;
          color: var(--sub-footer-copyright-color);
          padding: 20px 0px 10px;

          p {
            margin: 0;
            color: #777;
            font-size: 14px;
          }
        }
      }

      .right-sub-footer {
        padding-right: 0;
        text-align: right;

        .current-language {
          display: inline-block;
          color: var(--main-color-black);
          padding: 15px 0px 0px;
          margin-right: 40px;
        }

        ul.country-list {
          display: inline-block;
          padding: 15px 0px 0px;

          li {
            display: inline;
            list-style: none;

            a {
              display: inline-block;
              padding: 5px;
              color: var(--sub-footer-copyright-color);
              text-decoration: none;
              text-transform: uppercase;
              font-size: 12px;

              &.current-language-code {
                color: var(--main-color-black);
                font-size: 12px;
              }
            }
          }
        }
      }
    }
  }
}

// UP TO Phones, Mobile devices
@media (max-width: 991px) {
  .container {
    width: 100%;
    max-width: 100%;
  }

  .footer-main {
    .footer-row {
      padding: 30px 0 0 0;
      margin-top: 0;
      margin-left: 0;
      margin-right: 0;
    }

    .footer-column {
      padding: 40px 0 0 0;

      &:first-of-type {
        padding: 20px 0 0 0;
      }

      &:last-of-type {
        padding: 40px 0 0 0;
      }

      .footer-nav-list {
        li {
          line-height: 36px;
        }
      }
    }

    .sub-footer {
      .sub-footer-row {
        margin-left: 0;
        margin-right: 0;

        .left-sub-footer,
        .right-sub-footer {
          padding-left: 00px;
          text-align: left;

          .copyright {
            padding: 20px 0 0 0;
          }
        }

        .right-sub-footer {
          padding-top: 10px;
          padding-bottom: 10px;

          .current-language,
          ul.country-list {
            padding: 0;
          }
        }
      }
    }
  }
}
