<div class="search-filter">
  <h4 mat-dialog-title>{{ 'Search Filters' | translate }}</h4>
  <div mat-dialog-content>
    <app-date-range-picker
      (onSelectValue)="onSelectDateRange($event)"
      [dates]="this.searchCriteria.dateRange"
    ></app-date-range-picker>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="closeDialog()" class="btn btn-secondary">
      {{ 'Cancel' | translate }}
    </button>
    &nbsp;
    <button
      mat-button
      (click)="clearCriteria()"
      cdkFocusInitial
      [disabled]="hasCriteria"
      class="btn btn-secondary"
    >
      Clear
    </button>
    &nbsp;
    <button
      mat-button
      [mat-dialog-close]="searchCriteria"
      cdkFocusInitial
      [disabled]="hasCriteria"
      class="btn primary"
    >
      {{ 'Apply' | translate }}
    </button>
  </div>
</div>
