<div class="login-container">
  <div class="title">
    <h1 class="title-heading">Forgot Password</h1>
  </div>

  <div class="login-form">
    <form id="forgetPassForm" *ngIf="codeSent === false" [formGroup]="forgetPassForm">
      <div class="form-group">
        <input type="email" placeholder="Email *" class="primary" formControlName="email" />
        <div
          *ngIf="forgetPassForm.controls.email.invalid && forgetPassForm.controls.email.touched"
          class="invalid-message"
        >
          A valid e-mail is required
        </div>
      </div>
      <div class="form-group alert alert-danger" *ngIf="errorMessage">
        {{ errorMessage }}
      </div>
    </form>

    <form id="changePassForm" *ngIf="codeSent === true" [formGroup]="changePassForm">
      <div class="form-group">
        <input type="email" placeholder="Email *" class="primary" formControlName="email" />
        <div
          *ngIf="changePassForm.controls.email.invalid && changePassForm.controls.email.touched"
          class="invalid-message"
        >
          A valid e-mail is required
        </div>
      </div>

      <div class="form-group">
        <input type="text" placeholder="Code *" class="primary" formControlName="code" />
        <div
          *ngIf="changePassForm.controls.code.invalid && changePassForm.controls.code.touched"
          class="invalid-message"
        >
          Code is required
        </div>
      </div>

      <div class="form-group">
        <input
          type="password"
          placeholder="Password *"
          class="primary"
          formControlName="password"
        />
        <div
          *ngIf="
            changePassForm.controls.password.invalid && changePassForm.controls.password.touched
          "
          class="invalid-message"
        >
          Password is required
        </div>
      </div>

      <div class="form-group alert error-message mt-5" *ngIf="errorMessage">
        {{ errorMessage }}
      </div>

      <div class="form-group alert success-message mt-5" *ngIf="successMessage">
        {{ successMessage }}
      </div>
    </form>

    <div class="d-flex submit-button-container">
      <button
        *ngIf="codeSent === true && passChanged === false"
        class="btn primary login-btn"
        (click)="onChangePass()"
        [disabled]="changePassForm.invalid"
      >
        Change Password
      </button>

      <button
        *ngIf="codeSent === false && passChanged === false"
        class="btn primary login-btn"
        (click)="onSentCode()"
        [disabled]="forgetPassForm.invalid"
      >
        Send Code
      </button>

      <button
        *ngIf="passChanged === true"
        class="btn primary login-btn"
        (click)="forgotPass(false)"
      >
        Click here to login
      </button>
    </div>
  </div>
</div>
