:host {
  .login-container {
    .title {
      margin: 60px 0 40px 0;
      text-align: center;
      .title-heading {
        font-weight: 500;
        font-family: 'Playfair Display', serif;
        font-size: 32px;
        color: #000;
      }
    }

    .login-form {
      #loginForm {
        .form-group {
          &.forgotten-password-container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            font-family: 'FuturaBT-Light';
            .remember-me {
              font-family: 'FuturaBT-Light';
              .remember-label {
                font-family: 'FuturaBT-Light';
              }
            }
            label {
              margin-bottom: 0px;
              font-family: 'FuturaBT-Light';
            }
          }

          .primary {
            border-color: var(--text-input-grey);
            font-family: 'FuturaBT-Light';
          }
        }
      }
    }

    .or-container {
      margin: 30px 0;
      font-family: 'FuturaBT-Light';
    }

    .social-buttons {
      margin: 0 auto;
      min-width: 50%;
      text-align: center;

      .form-group {
        text-align: center;
        .btn.social {
          width: 80%;
          justify-content: center;
          border-color: var(--text-input-grey);
          font-family: 'FuturaBT-Light';

          .social-buttons-image {
            width: 20px;
            text-align: left;
            float: left;
            border-radius: 50px 50px 50px 50px;
          }
          .social-buttons-text {
            padding-top: 0px;
            display: inline-block;
            min-width: 180px;
            text-align: left;
            padding-left: 10px;
            font-family: 'FuturaBT-Light';
          }
        }
      }
    }

    .submit-button-container {
      button {
        width: 100%;
        line-height: 35px;
        min-width: 220px;
        font-size: 14px;
        margin: 0 auto;
        display: block;
        background-color: #191919;
        border-radius: 0px;
        margin-top: 30px;
        font-family: 'FuturaBT-Light';
      }
    }
    .login-link {
      font-family: 'FuturaBT-Light';
    }
  }

  @media only screen and (max-width: 480px) {
    .checkoutlogo {
      text-align: center;
    }
    .checkoutrightp {
      text-align: center;
    }
  }
}

div.alert {
  text-align: center;

  &.success-message {
    color: var(--form-success);
  }

  &.error-message {
    color: var(--form-error);
  }
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: #000;
}
