<h1 class="title-heading">Log In</h1>

<div class="form">
  <form [formGroup]="loginForm">
    <div class="form-group">
      <input id="email" type="email" placeholder="Email *" class="primary" formControlName="email" />

      <div *ngIf="loginForm.controls.email.invalid && loginForm.controls.email.touched" class="invalid-message">
        A valid e-mail is required
      </div>
    </div>

    <div class="form-group password-input-container">
      <span (click)="hide = !hide" class="eye_icon">
        <img [src]="getEyeIcon()" width="16" height="16" />
      </span>

      <input
        id="password"
        [type]="hide ? 'password' : 'text'"
        placeholder="Password *"
        class="primary"
        formControlName="password"
      />

      <div *ngIf="loginForm.controls.password.invalid && loginForm.controls.password.touched" class="invalid-message">
        Password is required
      </div>
    </div>

    <div class="submit-button-container">
      <button id="submit" class="btn primary login-btn" (click)="onProcessLogin()" [disabled]="loginForm.invalid">
        LOGIN
      </button>
    </div>

    <div class="form-group forgotten-password-container">
      <div class="forgotten-password">
        <a class="link primary" (click)="forgotPass(true)">Forgotten password</a>
      </div>
    </div>

    <div class="form-group alert error-message" *ngIf="errorMessage">
      {{ errorMessage }}
    </div>
  </form>

  <div class="d-flex or-container justify-content-center">or</div>

  <div class="social-buttons private-seller-social">
    <button class="btn social facebook-btn" (click)="onFbLogin()">
      <img class="social-buttons-image" src="/assets/images/facebook-f.svg" />
      <span class="social-buttons-text">SIGN IN WITH FACEBOOK</span>
    </button>

    <span class="btn-separator"></span>

    <button class="btn social google-btn" (click)="onGmailLogin()">
      <img class="social-buttons-image" src="/assets/images/google-g.svg" />
      <span class="social-buttons-text">SIGN IN WITH GOOGLE</span>
    </button>
  </div>
</div>
