.search-box {
  position: absolute;
  width: 700px;
  right: 0;

  .searchbar-toggle {
    padding: 15px;
    padding-top: 5px;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
    margin: auto;
    height: auto;
    position: absolute;
    top: 23px;
    bottom: auto;
    overflow: hidden;
    background-color: #fff;
    z-index: 9;
    width: 100%;
    left: 1px;
    right: 0;
    top: -24px;
    text-align: left;
    border-radius: 0px;
    box-shadow: #00000029 0px 3px 6px;
    .close-btn {
      display: flex;
      text-align: right;
      float: right;
      top: 18px;
      position: absolute;
      right: 10px;
      z-index: 99999;
      cursor: pointer;
      i {
        font-size: 15px;
      }
    }
    .search-container {
      .search-bar-field {
        .form-group {
          position: relative;
          display: flex;
          width: 100%;

          .search-icon {
            position: absolute;
            top: 10px;
            left: 10px;
            font-size: 16px;
            color: #868686;
          }

          .form-control {
            font-size: 15px;
            height: 40px;
            background-color: transparent;
            padding-left: 35px;
            border: none;
            border-radius: 0px;
            border-bottom: 1px solid #707070;
            color: #707070;

            &:focus {
              box-shadow: none;
            }
          }

          .close-icon {
            opacity: 1;
            font-size: 1.3rem;
            color: #868686;
            margin: 8px 0px 0px 25px;
          }

          .clear-search {
            height: 40px;
            display: flex;
            align-items: center;
            border: none;
            background: none;
            position: absolute;
            right: 0;
            top: 0;
          }
        }
      }
    }

    .search-title {
      position: relative;
      width: 100%;
      display: block;
      padding-top: 0px;

      h2 {
        font-size: 18px;
        color: #a5a5a5;
        font-family: 'Playfair Display', serif;
        margin: 0px;

        span {
          color: #191919;
        }
      }
    }

    .looking-for {
      position: relative;
      display: block;
      width: 100%;

      h3 {
        font-family: 'FuturaBT-Light' !important;
        font-size: 13px;
        text-transform: uppercase;
        margin: 0;
        color: #707070;
        opacity: 0.8;
        margin-top: 15px;
      }
    }

    .p-relative-list {
      list-style: none;
      overflow-y: auto;
      height: auto; //calc(100vh - 50vh);
      margin: 0;
      padding: 0;
      margin-top: 5px;
      li {
        line-height: 20px;

        a {
          color: #000;
          text-transform: capitalize;
          font-size: 1rem;
        }

        a:hover {
          color: #777;
        }
      }
    }

    .search-product {
      position: relative;
      width: 100%;
      padding-top: 10px;

      .search-head {
        position: relative;
        width: 100%;
        display: block;

        h3 {
          text-transform: uppercase;
          margin-bottom: 10px;
          font-size: 14px;
        }
      }

      .search-product-list {
        position: relative;
        width: 100%;

        .product-list-item {
          position: relative;
          width: 100%;
          overflow-y: auto !important;
          overflow-x: hidden !important;
          height: 400px;
          margin: 0;

          .product-item {
            position: relative;
            text-align: center;
            display: inline-block;
            vertical-align: top;
            padding-left: 30px;
            padding-right: 30px;
            margin-top: 0;
            margin-bottom: 50px;
            min-height: 38vh;

            .product-item-img {
              position: relative;
              text-align: center;
              margin-top: 0;
              max-width: 240px;
              margin: auto;
              vertical-align: middle;
              display: flex;
              align-items: center;
              height: 240px;
              width: 80%;

              img {
                margin: auto;
                width: auto;
                height: auto;
                max-height: 240px;
              }
            }

            .product-item-info {
              position: relative;
              margin-top: 20px;
              height: 120px;

              h2 {
                font-size: 20px;
                font-family: 'Playfair Display', serif;
                margin-bottom: 5px;
              }

              p {
                font-size: 1rem;
                line-height: 25px;
                letter-spacing: 1px;
                text-transform: uppercase;
                height: 50px;
                margin-bottom: 5px;
                min-height: 50px !important;
                max-height: 50px;
                overflow: hidden;
              }

              h3 {
                font-size: 1rem;
                text-transform: uppercase;
                font-family: 'FuturaBT-Medium';
                margin-bottom: 10px;
              }
            }
          }
        }
      }
    }
  }

  .searchbar-toggle.searchbarhome {
    border-top: 0px !important;
    overflow: hidden;
  }
}

@media only screen and (max-width: 1440px) {
  .search-box {
    position: absolute;
    width: 700px;
    right: 0;

    .searchbar-toggle {
      max-width: 930px;

      .search-container {
        .search-bar-field {
          .form-group {
            .search-icon {
            }

            .form-control {
            }

            .close-icon {
            }
          }
        }
      }

      .search-product {
        .search-product-list {
          .product-list-item {
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1366px) {
  .search-box {
    position: absolute;
    width: 700px;
    right: 0;

    .searchbar-toggle {
      max-height: 450px;
      overflow-y: scroll;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .searchbar-toggle.searchbarhome {
    padding: 0;
  }

  .search-container > div {
    padding-left: 0;
    padding-right: 0;
  }

  .search-box {
    position: relative;
    height: 100%;
    width: 100%;
    display: block;

    .searchbar-toggle {
      border: 0;
      padding: 0;

      .looking-for {
        h3 {
          font-size: 17px;
        }
      }

      .p-relative-list {
        height: auto;
        overflow: auto;

        li {
          line-height: 30px;

          a {
            font-size: 17px;
          }
        }
      }
    }
  }
}

// Up to Phone and Tablet screens
@media (max-width: 992px) {
  .search-box {
    .searchbar-toggle {
      box-shadow: none;
      top: 15px;
      .product-item-img {
        min-height: 200px;
        height: 200px;
      }
      .close-btn {
        display: none;
      }
    }
  }
  div#search_slidetoggle {
    box-shadow: none;
  }
  .close-icon {
    display: none;
  }
  .product-list-item {
    text-align: center;
  }
}
